:root {
    --main-purple: hsl(280, 25%, 45%);
    --almost-white-purple: hsl(280, 15%, 85%);
    --link-blue: hsl(170, 75%, 75%);
    --main-blue: hsl(170, 75%, 30%);
    --main-red: hsl(350, 75%, 30%);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--main-purple);
    font-family: Ubuntu, sans-serif;
}

h1, h2, h3, p, figcaption, form {
    text-align: center;
    color: var(--almost-white-purple);
}

h1 {
    font-size: 5rem;
    margin-bottom: 3rem;
}

h2 {
    font-size: 3rem;
    margin-bottom: 3rem;
}

p {
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: var(--link-blue);
}

section {
    padding: 3.5rem 0;
}

/* Header Section */
header {
    background-color: var(--main-red);
    padding-bottom: 2.5rem;
}

#navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 2.4rem;
}

/* About Me Section */
#about-me-container {
    /*display: flex;*/
    display: block;
    margin: auto;
    width: 100%;
    overflow: auto;
}

#intro {
    font-size: 2.4rem;
    padding: 0 10rem 0 10rem;
    /*width: 50%;*/
    margin: auto;
    text-align: justify;
}

#portrait {
    text-align: center;
    font-size: 2rem;
    float: right;
    margin: auto 10rem 2rem;
    /*width: 60%;*/
}

#portrait-img {
    margin: 0;
    width: 30vw;
}

@media only screen and (min-width: 1100px) {
    #about-me-container {
        display: flex;
    }

    #intro {
        width: 50%;
        font-size: 3rem;
        padding: 0 10rem 0 0;
    }
    
    #portrait {
        float: none;
        width: 50%;
        margin: auto;
    }

}

/* Projects Section */
h3 {
    font-size: 2.4rem;
}

#projects {
    background-color: var(--main-blue);
}

#projects p {
    text-align: justify;
}

.description {
    text-align: center;
    font-size: 2rem;
}

/* Games Section */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    gap: 3rem;
    padding: 0 3rem;
    justify-content: center;
}

.tile {
    width: 40rem;
}

img {
    max-width: 100%;
}

/* Contact Section */
#contact {
    background-color: var(--main-blue);
}

label {
    font-size: 1.5rem;
}

#form-grid {
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(3, 3rem);
    grid-template-columns: 10rem 28.5rem;
    grid-template-areas: 'label1 input1'
                        'label2 input2'
                        'label3 input3';
    justify-content: center;
    align-items: center;
}

#label1 { grid-area: label1; }
#label2 { grid-area: label2; }
#label3 { grid-area: label3; }
#fname { grid-area: input1; }
#lname { grid-area: input2; }
#email { grid-area: input3; }