* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

h1, h2, h3, p, a, form {
    text-align: center;
}

h1 {
    font-size: 5rem;
    margin-bottom: 3rem;
}

h2 {
    font-size: 3rem;
    margin-bottom: 3rem;
}

p {
    font-size: 2rem;
}

section {
    margin: 7rem 0;
}

/* Header Section */
#navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2.4rem;
}

/* About Me Section */
#about-me-container {
    display: flex;
    margin: auto;
    width: 100%;
}

#intro {
    font-size: 3rem;
    padding: 0 5rem 0 10rem;
    width: 50%;
    margin: auto;
    text-align: justify;
}

#portrait {
    text-align: center;
    font-size: 2rem;
    width: 60%;
}

#portrait-img {
    margin: 0;
    width: 40vw;
}

/* Projects Section */
h3 {
    font-size: 2.4rem;
}

#projects p {
    text-align: justify;
}

.description {
    text-align: center;
    font-size: 2rem;
}

/* Games Section */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    gap: 3rem;
    padding: 0 3rem;
    justify-content: center;
}

.tile {
    width: 40rem;
}

img {
    max-width: 100%;
}